ANTHROPIC_API_KEY=XYZ
ANTHROPIC_API_KEY=XYZ
CLICKHOUSE_HOST=YOUR_CLICKHOUSE_HOST
CLICKHOUSE_PORT=YOUR_CLICKHOUSE_PORT
CLICKHOUSE_USER=YOUR_CLICKHOUSE_USER
CLICKHOUSE_PASSWORD=YOUR_CLICKHOUSE_PASSWORD
CLICKHOUSE_DATABASE=YOUR_CLICKHOUSE_DATABASE
CLICKHOUSE_SECURE=true  # or false for insecure connections
CLICKHOUSE_MCP_SERVER_TRANSPORT=http # or sse or studio
DEFAULT_MODEL=YOUR_DEFAULT_MODEL
